#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Titulo {
  -ms-transform: rotate(0.0deg);
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Panel_2 {
  border-radius: 0px 0px 0px 0px;
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Panel_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 3px 3px 3px 3px;
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Panel_5 > .valign {
  vertical-align: middle;
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Text_2 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
  height: calc(100% + 0px);
  width: calc(100% + -12px);
  -ms-transform: rotate(0.0deg);
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Text_3 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  -ms-transform: rotate(0.0deg);
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Text_4 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  -ms-transform: rotate(0.0deg);
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Text_5 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  -ms-transform: rotate(0.0deg);
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Text_6 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  -ms-transform: rotate(0.0deg);
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Category_3-options {
  background-color: #FFFFFF;
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Category_4-options {
  background-color: #FFFFFF;
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #00FF00;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #00FF00;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #00FF00;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #00FF00;
  border-radius: 7px 7px 7px 7px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 35px;
  width: 228px;
  -ms-transform: rotate(0.0deg);
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Text_13 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  -ms-transform: rotate(0.0deg);
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FF0000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FF0000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FF0000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FF0000;
  border-radius: 7px 7px 7px 7px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 35px;
  width: 155px;
  -ms-transform: rotate(0.0deg);
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Button_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #676CFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #676CFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #676CFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #676CFB;
  border-radius: 7px 7px 7px 7px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 35px;
  width: 155px;
  -ms-transform: rotate(0.0deg);
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Menu_item_1 {
  height: 43px;
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Menu_item_3 {
  height: 28px;
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Menu_item_2 {
  height: 28px;
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Menu_item_4 {
  height: 28px;
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Panel_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Text_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 22px;
  width: 960px;
  -ms-transform: rotate(0.0deg);
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Button_3 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 42px;
  width: 67px;
  -ms-transform: rotate(0.0deg);
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Text_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 22px;
  width: 861px;
  -ms-transform: rotate(0.0deg);
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Text_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Button_4 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 42px;
  width: 67px;
  -ms-transform: rotate(180.0deg);
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Rectangulo2 {
  -ms-transform: rotate(0.0deg);
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Rentagulo1 {
  -ms-transform: rotate(0.0deg);
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Circulo {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Label_13 {
  -ms-transform: rotate(0.0deg);
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Label_14 {
  -ms-transform: rotate(0.0deg);
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Label_16 {
  -ms-transform: rotate(0.0deg);
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 #s-Label_19 {
  -ms-transform: rotate(0.0deg);
}
#s-0c35fb4a-10dc-42c1-9b74-cfd1a2fb0d95 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}