#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Titulo {
  -ms-transform: rotate(0.0deg);
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Panel_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 3px 3px 3px 3px;
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Panel_4 > .valign {
  vertical-align: middle;
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Label_29 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
  height: calc(100% + 0px);
  width: calc(100% + -12px);
  -ms-transform: rotate(0.0deg);
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Label_32 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  -ms-transform: rotate(0.0deg);
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Label_31 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  -ms-transform: rotate(0.0deg);
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Menu_item_1 {
  height: 43px;
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Menu_item_3 {
  height: 28px;
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Menu_item_2 {
  height: 28px;
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Menu_item_4 {
  height: 28px;
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Panel_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Text_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 22px;
  width: 960px;
  -ms-transform: rotate(0.0deg);
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Button_9 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 42px;
  width: 67px;
  -ms-transform: rotate(0.0deg);
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Text_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 22px;
  width: 861px;
  -ms-transform: rotate(0.0deg);
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Text_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Button_10 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 42px;
  width: 67px;
  -ms-transform: rotate(180.0deg);
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Rectangulo2 {
  -ms-transform: rotate(0.0deg);
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Rentagulo1 {
  -ms-transform: rotate(0.0deg);
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Circulo {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Table_1 {
  border-collapse: separate;
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Table_2 {
  border-collapse: separate;
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Button_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #676CFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #676CFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #676CFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #676CFB;
  border-radius: 6px 6px 6px 6px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 29px;
  width: 229px;
  -ms-transform: rotate(0.0deg);
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FD9927;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FD9927;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FD9927;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FD9927;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 26px;
  width: 157px;
  -ms-transform: rotate(0.0deg);
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Table_3 {
  border-collapse: separate;
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Table_4 {
  border-collapse: separate;
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-0f75a961-8284-46be-a4d5-8b6a45a6beec > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}