#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Titulo {
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Panel_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Text_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 22px;
  width: 960px;
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Button_3 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 42px;
  width: 67px;
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Text_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 22px;
  width: 861px;
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Text_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Button_4 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 42px;
  width: 67px;
  -ms-transform: rotate(180.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Menu_item_1 {
  height: 43px;
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Menu_item_3 {
  height: 28px;
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Menu_item_2 {
  height: 28px;
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Menu_item_4 {
  height: 28px;
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Rectangulo2 {
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Rentagulo1 {
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Circulo {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Panel_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 3px 3px 3px 3px;
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Panel_2 > .valign {
  vertical-align: middle;
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Text_21 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
  height: calc(100% + 0px);
  width: calc(100% + -12px);
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Text_22 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Text_23 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Table_2 {
  border-collapse: separate;
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Cell_2 {
  border-bottom-width: 4px;
  border-bottom-style: dotted;
  border-bottom-color: #FF9900;
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Cell_2 > .valign {
  vertical-align: middle;
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Table_4 {
  border-collapse: separate;
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Cell_3 {
  border-bottom-width: 4px;
  border-bottom-style: dotted;
  border-bottom-color: #FF9900;
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Cell_3 > .valign {
  vertical-align: middle;
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF9900;
  -ms-transform: rotate(90.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF9900;
  -ms-transform: rotate(90.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FF0000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FF0000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FF0000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FF0000;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 22px;
  width: 280px;
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Button_2 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FF9900;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FF9900;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FF9900;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FF9900;
  border-radius: 35px 35px 35px 35px;
  padding-top: 22px;
  padding-right: 22px;
  padding-bottom: 22px;
  padding-left: 22px;
  height: 186px;
  width: 379px;
  -pie-background: url('./images/049aa22c-b738-4d57-a043-7120c75b19f2.png') no-repeat left center scroll, linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Button_5 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FF9900;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FF9900;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FF9900;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FF9900;
  border-radius: 35px 35px 35px 35px;
  padding-top: 22px;
  padding-right: 22px;
  padding-bottom: 22px;
  padding-left: 22px;
  height: 186px;
  width: 379px;
  -pie-background: url('./images/049aa22c-b738-4d57-a043-7120c75b19f2.png') no-repeat left center scroll, linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF9900;
  -ms-transform: rotate(270.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF9900;
  -ms-transform: rotate(270.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF9900;
  -ms-transform: rotate(270.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF9900;
  -ms-transform: rotate(270.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Button_7 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FF9900;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FF9900;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FF9900;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FF9900;
  border-radius: 22px 22px 22px 22px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  height: 118px;
  width: 248px;
  -pie-background: url('./images/ba6fe888-a387-4c51-ac0c-246025027f57.png') no-repeat left bottom scroll, linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Button_8 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FF9900;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FF9900;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FF9900;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FF9900;
  border-radius: 22px 22px 22px 22px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  height: 118px;
  width: 248px;
  -pie-background: url('./images/ba6fe888-a387-4c51-ac0c-246025027f57.png') no-repeat left bottom scroll, linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Button_11 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FF9900;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FF9900;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FF9900;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FF9900;
  border-radius: 22px 22px 22px 22px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  height: 118px;
  width: 248px;
  -pie-background: url('./images/ba6fe888-a387-4c51-ac0c-246025027f57.png') no-repeat left bottom scroll, linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF9900;
  -ms-transform: rotate(90.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be #s-Line_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF9900;
  -ms-transform: rotate(90.0deg);
}
#s-31a17c1b-db61-4109-a14c-c899214ac7be > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}