#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Titulo {
  -ms-transform: rotate(0.0deg);
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Table_3 {
  border-collapse: separate;
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Cell_5 {
  border-bottom-width: 4px;
  border-bottom-style: dotted;
  border-bottom-color: #FF9900;
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Cell_5 > .valign {
  vertical-align: middle;
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Cell_6 > .valign {
  vertical-align: middle;
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Button_16 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FF9900;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FF9900;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FF9900;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FF9900;
  border-radius: 20px 20px 20px 20px;
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  height: 202px;
  width: 103px;
  -pie-background: url('./images/049aa22c-b738-4d57-a043-7120c75b19f2.png') no-repeat center center scroll, linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Button_17 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FF9900;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FF9900;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FF9900;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FF9900;
  border-radius: 21px 21px 21px 21px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  height: 200px;
  width: 109px;
  -pie-background: url('./images/049aa22c-b738-4d57-a043-7120c75b19f2.png') no-repeat center center scroll, linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Button_18 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FF9900;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FF9900;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FF9900;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FF9900;
  border-radius: 20px 20px 20px 20px;
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  height: 202px;
  width: 103px;
  -pie-background: url('./images/049aa22c-b738-4d57-a043-7120c75b19f2.png') no-repeat center center scroll, linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Button_19 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FF9900;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FF9900;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FF9900;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FF9900;
  border-radius: 20px 20px 20px 20px;
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  height: 202px;
  width: 103px;
  -pie-background: url('./images/049aa22c-b738-4d57-a043-7120c75b19f2.png') no-repeat center center scroll, linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Button_20 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FF9900;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FF9900;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FF9900;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FF9900;
  border-radius: 20px 20px 20px 20px;
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  height: 202px;
  width: 103px;
  -pie-background: url('./images/049aa22c-b738-4d57-a043-7120c75b19f2.png') no-repeat center center scroll, linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Button_21 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FF9900;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FF9900;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FF9900;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FF9900;
  border-radius: 13px 13px 13px 13px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 208px;
  width: 64px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Table_1 {
  border-collapse: separate;
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Cell_1 {
  border-bottom-width: 4px;
  border-bottom-style: dotted;
  border-bottom-color: #FF9900;
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Cell_1 > .valign {
  vertical-align: middle;
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Cell_2 > .valign {
  vertical-align: middle;
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Button_3 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FF9900;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FF9900;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FF9900;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FF9900;
  border-radius: 20px 20px 20px 20px;
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  height: 120px;
  width: 108px;
  -pie-background: url('./images/ba6fe888-a387-4c51-ac0c-246025027f57.png') no-repeat center bottom scroll, linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Button_4 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FF9900;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FF9900;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FF9900;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FF9900;
  border-radius: 12px 12px 12px 12px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  height: 128px;
  width: 63px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Button_5 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FF9900;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FF9900;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FF9900;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FF9900;
  border-radius: 20px 20px 20px 20px;
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  height: 120px;
  width: 108px;
  -pie-background: url('./images/ba6fe888-a387-4c51-ac0c-246025027f57.png') no-repeat center bottom scroll, linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Button_6 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FF9900;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FF9900;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FF9900;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FF9900;
  border-radius: 20px 20px 20px 20px;
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  height: 120px;
  width: 108px;
  -pie-background: url('./images/ba6fe888-a387-4c51-ac0c-246025027f57.png') no-repeat center bottom scroll, linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Button_7 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FF9900;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FF9900;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FF9900;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FF9900;
  border-radius: 20px 20px 20px 20px;
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  height: 120px;
  width: 108px;
  -pie-background: url('./images/ba6fe888-a387-4c51-ac0c-246025027f57.png') no-repeat center bottom scroll, linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Button_8 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FF9900;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FF9900;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FF9900;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FF9900;
  border-radius: 20px 20px 20px 20px;
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  height: 120px;
  width: 108px;
  -pie-background: url('./images/ba6fe888-a387-4c51-ac0c-246025027f57.png') no-repeat center bottom scroll, linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Panel_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 3px 3px 3px 3px;
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Panel_4 > .valign {
  vertical-align: middle;
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Label_29 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
  height: calc(100% + 0px);
  width: calc(100% + -12px);
  -ms-transform: rotate(0.0deg);
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Label_32 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  -ms-transform: rotate(0.0deg);
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Label_31 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  -ms-transform: rotate(0.0deg);
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Menu_item_1 {
  height: 43px;
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Menu_item_3 {
  height: 28px;
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Menu_item_2 {
  height: 28px;
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Menu_item_4 {
  height: 28px;
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Button_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FF0000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FF0000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FF0000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FF0000;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 22px;
  width: 272px;
  -ms-transform: rotate(0.0deg);
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Panel_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Text_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 22px;
  width: 960px;
  -ms-transform: rotate(0.0deg);
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Button_9 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 42px;
  width: 67px;
  -ms-transform: rotate(0.0deg);
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Text_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 22px;
  width: 861px;
  -ms-transform: rotate(0.0deg);
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Text_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Button_10 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 42px;
  width: 67px;
  -ms-transform: rotate(180.0deg);
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Rectangulo2 {
  -ms-transform: rotate(0.0deg);
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Rentagulo1 {
  -ms-transform: rotate(0.0deg);
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Circulo {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-43d6083c-9e74-40ab-85fa-f3cb9bc5faf6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}