#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Line_1 {
  rotation: 90.0;
  margin-left: 151px;
  margin-top: -151px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Label_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Label_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Button_4 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  margin-left: -1px;
  margin-top: -1px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Rectangulo2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Rentagulo1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Circulo {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-47efaa91-702c-4275-9fee-fb23a8301b5c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}