#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-Titulo {
  -ms-transform: rotate(0.0deg);
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-Panel_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-Text_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 22px;
  width: 960px;
  -ms-transform: rotate(0.0deg);
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-Button_3 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 42px;
  width: 67px;
  -ms-transform: rotate(0.0deg);
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-Text_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 22px;
  width: 861px;
  -ms-transform: rotate(0.0deg);
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-Text_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-Button_4 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 42px;
  width: 67px;
  -ms-transform: rotate(180.0deg);
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-Menu_item_1 {
  height: 43px;
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-Menu_item_3 {
  height: 28px;
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-Menu_item_2 {
  height: 28px;
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-Menu_item_4 {
  height: 28px;
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-Rectangulo2 {
  -ms-transform: rotate(0.0deg);
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-Rentagulo1 {
  -ms-transform: rotate(0.0deg);
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-Circulo {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-Table_2 {
  border-collapse: separate;
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-Cell_1 {
  border-bottom-width: 4px;
  border-bottom-style: dotted;
  border-bottom-color: #FF9900;
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-Cell_1 > .valign {
  vertical-align: middle;
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-celdaCelu {
  border-collapse: separate;
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-Cell_2 > .valign {
  vertical-align: middle;
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-imgCelu {
  -ms-transform: rotate(0.0deg);
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-txtCelu {
  -ms-transform: rotate(0.0deg);
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-celdaCalzado {
  border-collapse: separate;
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-Cell_3 > .valign {
  vertical-align: middle;
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-imgCalzado {
  -ms-transform: rotate(0.0deg);
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-txtCalzado {
  -ms-transform: rotate(0.0deg);
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-celdaElectr {
  border-collapse: separate;
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-Cell_5 > .valign {
  vertical-align: middle;
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-imgElectr {
  -ms-transform: rotate(0.0deg);
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-txtElectr {
  -ms-transform: rotate(0.0deg);
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-celdaPc {
  border-collapse: separate;
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-Cell_6 > .valign {
  vertical-align: middle;
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-imgPc {
  -ms-transform: rotate(0.0deg);
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-txtPc {
  -ms-transform: rotate(0.0deg);
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-celdaRopa {
  border-collapse: separate;
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-Cell_7 > .valign {
  vertical-align: middle;
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-imgRopa {
  -ms-transform: rotate(0.0deg);
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-txtRopa {
  -ms-transform: rotate(0.0deg);
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-tblCelus {
  border-collapse: separate;
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-tblCalzados {
  border-collapse: separate;
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-tblElectr {
  border-collapse: separate;
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-tblCompus {
  border-collapse: separate;
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-tblRopa {
  border-collapse: separate;
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-Panel_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 3px 3px 3px 3px;
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-Panel_5 > .valign {
  vertical-align: middle;
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-Text_2 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
  height: calc(100% + 0px);
  width: calc(100% + -12px);
  -ms-transform: rotate(0.0deg);
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-Text_3 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  -ms-transform: rotate(0.0deg);
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 #s-Text_10 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  -ms-transform: rotate(0.0deg);
}
#s-5e473076-3641-4d49-ba83-a90e28c1e430 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}