#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f > #backgroundBox {
  background-color: #FFFE9F;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  position: absolute;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f > #alignmentBox {
  position: relative;
  max-width: 1024px;
  max-height: 768px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FD9927;
  background-image: none;
  box-shadow: none;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Rectangle_1 {
  position: absolute;
  width: 1024px;
  height: 75px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Rectangle_1 > .clipping, #s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Rectangle_1 > .paddingLayer {
  height: 75px;
  width: 1024px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Titulo > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Titulo {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 20.0pt;
  font-family: 'Comic Sans MS',Arial;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Titulo > .clipping, #s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Titulo > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Titulo .valign {
  vertical-align: middle;
  text-align: left;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Titulo span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Titulo span#rtr-s-Titulo_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Dynamic_Panel_1 {
  position: absolute;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Panel_1 {
  width: 1021px;
  height: 613px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Panel_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Panel_1 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 1021px;
  height: 613px;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Label_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Label_1 {
  position: absolute;
  width: 139px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Label_1 > .clipping, #s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Label_1 > .paddingLayer {
  height: 29px;
  width: 139px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Label_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Label_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Label_1 span#rtr-s-Label_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Input_5 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Input_5 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Input_5 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Input_5 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Input_5 {
  position: absolute;
  width: 216px;
  height: 31px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Input_5 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Input_5 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  box-shadow: none;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Input_5 > .paddingLayer {
  height: 25px;
  width: 205px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 3px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Label_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Label_2 {
  position: absolute;
  width: 139px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Label_2 > .clipping, #s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Label_2 > .paddingLayer {
  height: 29px;
  width: 139px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Label_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Label_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Label_2 span#rtr-s-Label_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Input_6 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Input_6 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Input_6 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Input_6 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Input_6 {
  position: absolute;
  width: 216px;
  height: 31px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Input_6 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Input_6 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Input_6 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  box-shadow: none;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Input_6 > .paddingLayer {
  height: 25px;
  width: 205px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 3px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Button_7 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #428BCA;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Button_7 {
  position: absolute;
  width: 133px;
  height: 31px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Button_7 > .clipping, #s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Button_7 > .paddingLayer {
  height: 23px;
  width: 125px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Button_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Button_7 span#rtr-s-Button_7_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Button_8 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FD6721;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FF0000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FF0000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FF0000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FF0000;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Button_8 {
  position: absolute;
  width: 133px;
  height: 31px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Button_8 > .clipping, #s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Button_8 > .paddingLayer {
  height: 23px;
  width: 125px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Button_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Button_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Button_8 span#rtr-s-Button_8_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Group_10 {
  position: absolute;
  width: 980px;
  height: 154px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Group_23 {
  position: absolute;
  width: 980px;
  height: 154px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Rectangle_20 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #EEEEEE;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EEEEEE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EEEEEE;
  border-radius: 4px 4px 4px 4px;
  box-shadow: none;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Rectangle_20 {
  position: absolute;
  width: 980px;
  height: 147px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Rectangle_20 > .clipping, #s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Rectangle_20 > .paddingLayer {
  height: 141px;
  width: 974px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Rectangle_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Rectangle_20 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Rectangle_20 span#rtr-s-Rectangle_20_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Rich_text_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Rich_text_7 {
  position: absolute;
  width: 961px;
  height: 111px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 29px;
  font-size: 14.0pt;
  font-family: 'Arial',Arial;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Rich_text_7 > .clipping, #s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Rich_text_7 > .paddingLayer {
  height: 111px;
  width: 961px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Rich_text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Rich_text_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Rich_text_7 span#rtr-s-Rich_text_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Button_9 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #428BCA;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 6px 6px 6px 6px;
  box-shadow: none;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Button_9 {
  position: absolute;
  width: 124px;
  height: 41px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Button_9 > .clipping, #s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Button_9 > .paddingLayer {
  height: 33px;
  width: 116px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Button_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Button_9 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Button_9 span#rtr-s-Button_9_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Label_38 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Label_38 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Arial',Arial;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Label_38 > .clipping, #s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Label_38 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Label_38 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Label_38 span {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Label_38 span#rtr-s-Label_38_0 {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Table_2 {
  position: absolute;
  width: 804px;
  height: 322px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Table_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #999999;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  box-shadow: none;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Table_2 > table {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_cell_17 {
  width: 168px;
  height: 67px;
  background-color: #EFEFEF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 34px;
  font-size: 18.0pt;
  font-family: 'Comic Sans MS',Arial;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_cell_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_cell_17 span {
  color: #FF9900;
  text-align: center;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_cell_17 span#rtr-s-Text_cell_17_0 {
  color: #FF9900;
  text-align: center;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_cell_21 {
  width: 610px;
  height: 67px;
  background-color: #D9D9D9;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_cell_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_cell_21 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_cell_21 span#rtr-s-Text_cell_21_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_cell_18 {
  width: 169px;
  height: 68px;
  background-color: #EFEFEF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 34px;
  font-size: 18.0pt;
  font-family: 'Comic Sans MS',Arial;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_cell_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_cell_18 span {
  color: #FF9900;
  text-align: center;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_cell_18 span#rtr-s-Text_cell_18_0 {
  color: #FF9900;
  text-align: center;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_cell_22 {
  width: 611px;
  height: 68px;
  background-color: #D9D9D9;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_cell_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_cell_22 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_cell_22 span#rtr-s-Text_cell_22_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_cell_19 {
  width: 169px;
  height: 70px;
  background-color: #EFEFEF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 34px;
  font-size: 18.0pt;
  font-family: 'Comic Sans MS',Arial;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_cell_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_cell_19 span {
  color: #FF9900;
  text-align: center;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_cell_19 span#rtr-s-Text_cell_19_0 {
  color: #FF9900;
  text-align: center;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_cell_23 {
  width: 611px;
  height: 70px;
  background-color: #D9D9D9;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_cell_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_cell_23 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_cell_23 span#rtr-s-Text_cell_23_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_cell_20 {
  width: 169px;
  height: 70px;
  background-color: #EFEFEF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 34px;
  font-size: 18.0pt;
  font-family: 'Comic Sans MS',Arial;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_cell_20 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_cell_20 span {
  color: #FF9900;
  text-align: center;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_cell_20 span#rtr-s-Text_cell_20_0 {
  color: #FF9900;
  text-align: center;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_cell_24 {
  width: 611px;
  height: 70px;
  background-color: #D9D9D9;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  text-shadow: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_cell_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_cell_24 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_cell_24 span#rtr-s-Text_cell_24_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Group_1 {
  position: absolute;
  width: 1023px;
  height: 75px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Dynamic_Panel_3 {
  position: absolute;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Panel_3 {
  width: 1023px;
  height: 42px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Panel_3 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #D9D9D9;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Panel_3 > .layoutWrapper {
  left: 1px;
  top: 1px;
  width: 1021px;
  height: 40px;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_15 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_15 {
  position: absolute;
  width: 968px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 13.0pt;
  font-family: 'Arial',Arial;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_15 > .clipping, #s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_15 > .paddingLayer {
  height: 22px;
  width: 960px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_15 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_15 span#rtr-s-Text_15_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Button_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: contain;
  background-image: url('../../images/0ac399e5-af97-470f-b920-796f7838b6b4.png');
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Button_3 {
  position: absolute;
  width: 67px;
  height: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Button_3 > .clipping, #s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Button_3 > .paddingLayer {
  height: 42px;
  width: 67px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Button_3 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Button_3 span {
  color: #030303;
  text-align: right;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Button_3 span#rtr-s-Button_3_0 {
  color: #030303;
  text-align: right;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_16 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_16 {
  position: absolute;
  width: 869px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 13.0pt;
  font-family: 'Arial',Arial;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_16 > .clipping, #s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_16 > .paddingLayer {
  height: 22px;
  width: 861px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_16 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_16 span#rtr-s-Text_16_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_14 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + -2px);
  background-color: #D9D9D9;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_14 {
  position: absolute;
  width: 1023px;
  height: 38px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_14 > .clipping, #s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_14 > .paddingLayer {
  height: 37px;
  width: 1007px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 1px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_14 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_14 span#rtr-s-Text_14_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Button_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: contain;
  background-image: url('../../images/0ac399e5-af97-470f-b920-796f7838b6b4.png');
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Button_4 {
  position: absolute;
  width: 67px;
  height: 42px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Button_4 > .clipping, #s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Button_4 > .paddingLayer {
  height: 42px;
  width: 67px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Button_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Button_4 span {
  color: #030303;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Button_4 span#rtr-s-Button_4_0 {
  color: #030303;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}