#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Titulo {
  -ms-transform: rotate(0.0deg);
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Button_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 23px;
  width: 125px;
  -ms-transform: rotate(0.0deg);
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Button_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FF0000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FF0000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FF0000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FF0000;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 23px;
  width: 125px;
  -ms-transform: rotate(0.0deg);
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Rectangle_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EEEEEE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EEEEEE;
  border-radius: 4px 4px 4px 4px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 141px;
  width: 974px;
  -ms-transform: rotate(0.0deg);
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Rich_text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Button_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 6px 6px 6px 6px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 33px;
  width: 116px;
  -ms-transform: rotate(0.0deg);
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Label_38 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  -ms-transform: rotate(0.0deg);
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Table_2 {
  border-collapse: separate;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Panel_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 22px;
  width: 960px;
  -ms-transform: rotate(0.0deg);
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Button_3 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 42px;
  width: 67px;
  -ms-transform: rotate(0.0deg);
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 22px;
  width: 861px;
  -ms-transform: rotate(0.0deg);
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Text_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f #s-Button_4 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 42px;
  width: 67px;
  -ms-transform: rotate(180.0deg);
}
#s-752ab556-a3f6-4ca3-ada7-c123a2ab0a0f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}