#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Titulo {
  -ms-transform: rotate(0.0deg);
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Menu_item_1 {
  height: 43px;
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Menu_item_3 {
  height: 28px;
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Menu_item_2 {
  height: 28px;
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Menu_item_4 {
  height: 28px;
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Panel_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 3px 3px 3px 3px;
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Panel_4 > .valign {
  vertical-align: middle;
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Label_29 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
  height: calc(100% + 0px);
  width: calc(100% + -12px);
  -ms-transform: rotate(0.0deg);
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Label_32 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  -ms-transform: rotate(0.0deg);
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Label_31 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  -ms-transform: rotate(0.0deg);
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Category_2-options {
  background-color: #FFFFFF;
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Category_3-options {
  background-color: #FFFFFF;
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Label_18 {
  -ms-transform: rotate(0.0deg);
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Label_19 {
  -ms-transform: rotate(0.0deg);
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Label_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 0px 0px 3px;
  padding-top: 3px;
  padding-right: 0px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 23px;
  width: 26px;
  -ms-transform: rotate(0.0deg);
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Label_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-radius: 0px 3px 3px 0px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 0px;
  height: 23px;
  width: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Label_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 0px 0px 3px;
  padding-top: 3px;
  padding-right: 0px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 23px;
  width: 26px;
  -ms-transform: rotate(0.0deg);
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Label_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-radius: 0px 3px 3px 0px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 0px;
  height: 23px;
  width: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Label_22 {
  -ms-transform: rotate(0.0deg);
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Label_23 {
  -ms-transform: rotate(0.0deg);
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Panel_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EEEEEE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EEEEEE;
  border-radius: 5px 5px 5px 5px;
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Table_1 {
  border-collapse: separate;
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Button_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #00FF00;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #00FF00;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #00FF00;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #00FF00;
  border-radius: 7px 7px 7px 7px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 35px;
  width: 152px;
  -ms-transform: rotate(0.0deg);
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Button_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FF0000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FF0000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FF0000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FF0000;
  border-radius: 7px 7px 7px 7px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 35px;
  width: 155px;
  -ms-transform: rotate(0.0deg);
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Button_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #676CFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #676CFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #676CFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #676CFB;
  border-radius: 7px 7px 7px 7px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 35px;
  width: 155px;
  -ms-transform: rotate(0.0deg);
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Panel_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Text_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 22px;
  width: 960px;
  -ms-transform: rotate(0.0deg);
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Button_3 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 42px;
  width: 67px;
  -ms-transform: rotate(0.0deg);
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Text_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 22px;
  width: 861px;
  -ms-transform: rotate(0.0deg);
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Text_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Button_4 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 42px;
  width: 67px;
  -ms-transform: rotate(180.0deg);
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Rectangulo2 {
  -ms-transform: rotate(0.0deg);
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Rentagulo1 {
  -ms-transform: rotate(0.0deg);
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Circulo {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-8513d72a-575d-4e16-b15d-582d951a89ef > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}