#s-8cad3ac1-978a-4c39-ab28-3fd19ac1778a #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8cad3ac1-978a-4c39-ab28-3fd19ac1778a #s-Titulo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8cad3ac1-978a-4c39-ab28-3fd19ac1778a #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8cad3ac1-978a-4c39-ab28-3fd19ac1778a #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8cad3ac1-978a-4c39-ab28-3fd19ac1778a #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8cad3ac1-978a-4c39-ab28-3fd19ac1778a #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8cad3ac1-978a-4c39-ab28-3fd19ac1778a #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8cad3ac1-978a-4c39-ab28-3fd19ac1778a #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8cad3ac1-978a-4c39-ab28-3fd19ac1778a #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8cad3ac1-978a-4c39-ab28-3fd19ac1778a #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8cad3ac1-978a-4c39-ab28-3fd19ac1778a #s-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8cad3ac1-978a-4c39-ab28-3fd19ac1778a #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8cad3ac1-978a-4c39-ab28-3fd19ac1778a #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8cad3ac1-978a-4c39-ab28-3fd19ac1778a #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8cad3ac1-978a-4c39-ab28-3fd19ac1778a #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8cad3ac1-978a-4c39-ab28-3fd19ac1778a #s-Button_4 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  margin-left: -1px;
  margin-top: -1px;
}
#s-8cad3ac1-978a-4c39-ab28-3fd19ac1778a #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8cad3ac1-978a-4c39-ab28-3fd19ac1778a #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8cad3ac1-978a-4c39-ab28-3fd19ac1778a #s-Rectangulo2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8cad3ac1-978a-4c39-ab28-3fd19ac1778a #s-Rentagulo1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8cad3ac1-978a-4c39-ab28-3fd19ac1778a #s-Circulo {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8cad3ac1-978a-4c39-ab28-3fd19ac1778a #s-Button_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8cad3ac1-978a-4c39-ab28-3fd19ac1778a #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8cad3ac1-978a-4c39-ab28-3fd19ac1778a #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8cad3ac1-978a-4c39-ab28-3fd19ac1778a #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8cad3ac1-978a-4c39-ab28-3fd19ac1778a #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8cad3ac1-978a-4c39-ab28-3fd19ac1778a #s-imgtoalla {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8cad3ac1-978a-4c39-ab28-3fd19ac1778a #s-imgbota {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8cad3ac1-978a-4c39-ab28-3fd19ac1778a #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8cad3ac1-978a-4c39-ab28-3fd19ac1778a #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8cad3ac1-978a-4c39-ab28-3fd19ac1778a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}