#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Titulo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Button_4 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  margin-left: -1px;
  margin-top: -1px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Rectangulo2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Rentagulo1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Circulo {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Paragraph_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=68) ;
  filter: alpha(opacity=68) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Paragraph_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=64) ;
  filter: alpha(opacity=64) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Paragraph_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=64) ;
  filter: alpha(opacity=64) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Paragraph_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=68) ;
  filter: alpha(opacity=68) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Paragraph_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=64) ;
  filter: alpha(opacity=64) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Paragraph_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=64) ;
  filter: alpha(opacity=64) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Paragraph_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=68) ;
  filter: alpha(opacity=68) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Paragraph_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=64) ;
  filter: alpha(opacity=64) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Paragraph_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=64) ;
  filter: alpha(opacity=64) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be7db1d4-4aef-43b6-905a-7ac3135b5496 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}