#s-c14c90e3-3a8b-473c-8dc1-0f61b9ac5c72 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c14c90e3-3a8b-473c-8dc1-0f61b9ac5c72 #s-Titulo {
  -ms-transform: rotate(0.0deg);
}
#s-c14c90e3-3a8b-473c-8dc1-0f61b9ac5c72 #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-c14c90e3-3a8b-473c-8dc1-0f61b9ac5c72 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c14c90e3-3a8b-473c-8dc1-0f61b9ac5c72 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c14c90e3-3a8b-473c-8dc1-0f61b9ac5c72 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-c14c90e3-3a8b-473c-8dc1-0f61b9ac5c72 #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-c14c90e3-3a8b-473c-8dc1-0f61b9ac5c72 #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-c14c90e3-3a8b-473c-8dc1-0f61b9ac5c72 #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-c14c90e3-3a8b-473c-8dc1-0f61b9ac5c72 #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-c14c90e3-3a8b-473c-8dc1-0f61b9ac5c72 #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-c14c90e3-3a8b-473c-8dc1-0f61b9ac5c72 #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-c14c90e3-3a8b-473c-8dc1-0f61b9ac5c72 #s-Panel_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-c14c90e3-3a8b-473c-8dc1-0f61b9ac5c72 #s-Text_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 22px;
  width: 960px;
  -ms-transform: rotate(0.0deg);
}
#s-c14c90e3-3a8b-473c-8dc1-0f61b9ac5c72 #s-Button_3 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 42px;
  width: 67px;
  -ms-transform: rotate(0.0deg);
}
#s-c14c90e3-3a8b-473c-8dc1-0f61b9ac5c72 #s-Text_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 22px;
  width: 861px;
  -ms-transform: rotate(0.0deg);
}
#s-c14c90e3-3a8b-473c-8dc1-0f61b9ac5c72 #s-Text_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-c14c90e3-3a8b-473c-8dc1-0f61b9ac5c72 #s-Button_4 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 42px;
  width: 67px;
  -ms-transform: rotate(180.0deg);
}
#s-c14c90e3-3a8b-473c-8dc1-0f61b9ac5c72 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c14c90e3-3a8b-473c-8dc1-0f61b9ac5c72 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c14c90e3-3a8b-473c-8dc1-0f61b9ac5c72 #s-Menu_item_1 {
  height: 43px;
}
#s-c14c90e3-3a8b-473c-8dc1-0f61b9ac5c72 #s-Menu_item_3 {
  height: 28px;
}
#s-c14c90e3-3a8b-473c-8dc1-0f61b9ac5c72 #s-Menu_item_2 {
  height: 28px;
}
#s-c14c90e3-3a8b-473c-8dc1-0f61b9ac5c72 #s-Menu_item_4 {
  height: 28px;
}
#s-c14c90e3-3a8b-473c-8dc1-0f61b9ac5c72 #s-Rectangulo2 {
  -ms-transform: rotate(0.0deg);
}
#s-c14c90e3-3a8b-473c-8dc1-0f61b9ac5c72 #s-Rentagulo1 {
  -ms-transform: rotate(0.0deg);
}
#s-c14c90e3-3a8b-473c-8dc1-0f61b9ac5c72 #s-Circulo {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-c14c90e3-3a8b-473c-8dc1-0f61b9ac5c72 #s-Panel_11 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 3px 3px 3px 3px;
}
#s-c14c90e3-3a8b-473c-8dc1-0f61b9ac5c72 #s-Panel_11 > .valign {
  vertical-align: middle;
}
#s-c14c90e3-3a8b-473c-8dc1-0f61b9ac5c72 #s-Text_95 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
  height: calc(100% + 0px);
  width: calc(100% + -12px);
  -ms-transform: rotate(0.0deg);
}
#s-c14c90e3-3a8b-473c-8dc1-0f61b9ac5c72 #s-Text_96 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  -ms-transform: rotate(0.0deg);
}
#s-c14c90e3-3a8b-473c-8dc1-0f61b9ac5c72 #s-Text_97 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  -ms-transform: rotate(0.0deg);
}
#s-c14c90e3-3a8b-473c-8dc1-0f61b9ac5c72 #s-Text_98 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  -ms-transform: rotate(0.0deg);
}
#s-c14c90e3-3a8b-473c-8dc1-0f61b9ac5c72 #s-Text_99 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  -ms-transform: rotate(0.0deg);
}
#s-c14c90e3-3a8b-473c-8dc1-0f61b9ac5c72 #s-Button_39 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #676CFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #676CFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #676CFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #676CFB;
  border-radius: 6px 6px 6px 6px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 29px;
  width: 144px;
  -ms-transform: rotate(0.0deg);
}
#s-c14c90e3-3a8b-473c-8dc1-0f61b9ac5c72 #s-Button_40 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FF0000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FF0000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FF0000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FF0000;
  border-radius: 4px 4px 4px 4px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 21px;
  width: 146px;
  -ms-transform: rotate(0.0deg);
}
#s-c14c90e3-3a8b-473c-8dc1-0f61b9ac5c72 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c14c90e3-3a8b-473c-8dc1-0f61b9ac5c72 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}