#s-f6bb13b5-d793-4222-a14a-b85be0c39800 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f6bb13b5-d793-4222-a14a-b85be0c39800 #s-Titulo {
  -ms-transform: rotate(0.0deg);
}
#s-f6bb13b5-d793-4222-a14a-b85be0c39800 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f6bb13b5-d793-4222-a14a-b85be0c39800 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f6bb13b5-d793-4222-a14a-b85be0c39800 #s-Menu_item_1 {
  height: 43px;
}
#s-f6bb13b5-d793-4222-a14a-b85be0c39800 #s-Menu_item_3 {
  height: 28px;
}
#s-f6bb13b5-d793-4222-a14a-b85be0c39800 #s-Menu_item_2 {
  height: 28px;
}
#s-f6bb13b5-d793-4222-a14a-b85be0c39800 #s-Menu_item_4 {
  height: 28px;
}
#s-f6bb13b5-d793-4222-a14a-b85be0c39800 #s-Panel_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-f6bb13b5-d793-4222-a14a-b85be0c39800 #s-Text_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 22px;
  width: 960px;
  -ms-transform: rotate(0.0deg);
}
#s-f6bb13b5-d793-4222-a14a-b85be0c39800 #s-Button_3 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 42px;
  width: 67px;
  -ms-transform: rotate(0.0deg);
}
#s-f6bb13b5-d793-4222-a14a-b85be0c39800 #s-Text_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 22px;
  width: 861px;
  -ms-transform: rotate(0.0deg);
}
#s-f6bb13b5-d793-4222-a14a-b85be0c39800 #s-Text_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  -ms-transform: rotate(0.0deg);
}
#s-f6bb13b5-d793-4222-a14a-b85be0c39800 #s-Button_4 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 42px;
  width: 67px;
  -ms-transform: rotate(180.0deg);
}
#s-f6bb13b5-d793-4222-a14a-b85be0c39800 #s-Rectangulo2 {
  -ms-transform: rotate(0.0deg);
}
#s-f6bb13b5-d793-4222-a14a-b85be0c39800 #s-Rentagulo1 {
  -ms-transform: rotate(0.0deg);
}
#s-f6bb13b5-d793-4222-a14a-b85be0c39800 #s-Circulo {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-f6bb13b5-d793-4222-a14a-b85be0c39800 #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-f6bb13b5-d793-4222-a14a-b85be0c39800 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f6bb13b5-d793-4222-a14a-b85be0c39800 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f6bb13b5-d793-4222-a14a-b85be0c39800 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-f6bb13b5-d793-4222-a14a-b85be0c39800 #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-f6bb13b5-d793-4222-a14a-b85be0c39800 #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-f6bb13b5-d793-4222-a14a-b85be0c39800 #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-f6bb13b5-d793-4222-a14a-b85be0c39800 #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-f6bb13b5-d793-4222-a14a-b85be0c39800 #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-f6bb13b5-d793-4222-a14a-b85be0c39800 #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-f6bb13b5-d793-4222-a14a-b85be0c39800 #s-Panel_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EEEEEE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EEEEEE;
  border-radius: 10px 10px 10px 10px;
}
#s-f6bb13b5-d793-4222-a14a-b85be0c39800 #s-Panel_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 3px 3px 3px 3px;
}
#s-f6bb13b5-d793-4222-a14a-b85be0c39800 #s-Panel_6 > .valign {
  vertical-align: middle;
}
#s-f6bb13b5-d793-4222-a14a-b85be0c39800 #s-Text_2 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
  height: calc(100% + 0px);
  width: calc(100% + -12px);
  -ms-transform: rotate(0.0deg);
}
#s-f6bb13b5-d793-4222-a14a-b85be0c39800 #s-Text_3 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  -ms-transform: rotate(0.0deg);
}
#s-f6bb13b5-d793-4222-a14a-b85be0c39800 #s-Text_4 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  -ms-transform: rotate(0.0deg);
}
#s-f6bb13b5-d793-4222-a14a-b85be0c39800 #s-Text_5 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  -ms-transform: rotate(0.0deg);
}
#s-f6bb13b5-d793-4222-a14a-b85be0c39800 #s-Text_6 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  -ms-transform: rotate(0.0deg);
}
#s-f6bb13b5-d793-4222-a14a-b85be0c39800 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f6bb13b5-d793-4222-a14a-b85be0c39800 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-f6bb13b5-d793-4222-a14a-b85be0c39800 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FF0000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FF0000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FF0000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FF0000;
  border-radius: 6px 6px 6px 6px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 29px;
  width: 103px;
  -ms-transform: rotate(0.0deg);
}
#s-f6bb13b5-d793-4222-a14a-b85be0c39800 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #676CFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #676CFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #676CFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #676CFB;
  border-radius: 6px 6px 6px 6px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 29px;
  width: 101px;
  -ms-transform: rotate(0.0deg);
}
#s-f6bb13b5-d793-4222-a14a-b85be0c39800 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}